@model summerschool.DTO.TeacherDTO

<form action="AddTeacher" method="post">
    <div class="form-group">
        <label for="Tchnamelastname">Ad Soyad</label>
        <input type="text" id="Tchnamelastname" name="Tchnamelastname" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Tchrbranch">Branş ID</label>
        <input type="text" id="Tchrbranch" name="Tchrbranch" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Öğretmen Ekle</button>
    <a class="btn btn-secondary" asp-action="Index">Geri Dön</a>
</form>
